.charming_portfolio-plugin-inner {
  .section-title {
    margin-block: 12px 48px;
    row-gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.charming-portfolio-container-w{
  max-inline-size: 900px;
}
