.simplecharm-skill-card{
	--col-1 : rgb(0 0 0);
	--col-2 : rgb(255 255 255);
	border: 5px solid var(--col-1);
	height: 100%;
	h4{
		color: #000;
	}
}
.simplecharm-skill-card:is(:hover,:focus){
	border-color:var(--col-2);
	color:var(--col-2);
	background: var(--col-1);
	h4{
		color: #fff;
	}
}