// utility classes
.charming_portfolio_shadow_thin {
	box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    &:hover {
				 box-shadow: rgba(9, 23, 66, 0.25) -1px 2px 1px, rgba(9, 30, 66, 0.13) 3px -2px 4px 1px;
    }
}

//badge
.charming_portfolio-plugin-inner {
  .badge-neutral {
    color: #fff;
    border-radius: 4px;
  }
}
