/**
 * Import TailwindCss
 */
@forward "./tailwindcss/tailwindcss";
@forward "./components/fonts";
@forward "./components/skills";
@forward "./components/bottom-alert";
@forward "./components/projects";
@forward "./components/animations";
@forward "./components/buttons";
@forward "./components/intro";
@use './utils/variables' as *;

/**
 * Basic Styling
 */

main#CHARMING_PORTFOLIO-content {
	font-family: "Inter",serif, sans-serif ;
}
.CHARMING_PORTFOLIO-welcome-emoji{
	display: contents;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.simplecharm-portfolio-plugin-inner{
	background-color: $background-color;
}
p,span,cite{
	color: $secondary-color;
}
h1,h2,h3,h4,h5,h6{
	color: $primary-color;
}
section{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;	
	margin: auto;
}
foorer{
	h1,h2,h3,h4,h5,h6{
		// color: #F9FAFB;
	}
}
