.charming-portfolio-has-see-more .see-more-text {
  
  margin-bottom: 0;
  display: inline;
 
}
.charming-portfolio-has-see-more .see-more {
  color: #00f;
  font-size: 14px;
  cursor: pointer;
}
.charming-portfolio-has-see-more .see-more:hover {
  text-decoration: underline;
}
